.main_contact_inner 
  = form_for @contact , url: contacts_path, remote: true do |f|
    #contactForm.row.contact_form
      .form-group.col-md-4
        = f.text_field :name, class: 'form-control is-invalid', placeholder: '*Tên' 
        #contacts_name
      .form-group.col-md-4
        = f.text_field :phone_number, class: 'form-control', placeholder: '*Số Điện Thoại'
        #contacts_phone
      .form-group.col-md-4
        = f.text_field :email, class: 'form-control', placeholder: 'Email'
      .form-group.col-md-12
        = f.text_area :message, class: 'form-control', placeholder: '*Tin nhắn', rows: 1
        #contacts_message
      .form-group.col-md-12
        %button.btn.submit_btn.red.form-control{:type => "submit", :value => "submit"} Gửi đi
