.limiter
  .container-login100
    .wrap-login100
      .login100-form-title{:style => "background-image: url(/assets/background/bg-signin.jpg);"}
        %span.login100-form-title-1
          Sign In
      = form_for(resource, as: resource_name, html: {class: 'login100-form'}, url: session_path(resource_name)) do |f|
        .wrap-input100.m-b-26{"data-validate" => "Username is required"}
          %span.label-input100 Email
          = f.email_field :email, class: 'input100', :placeholder => "Enter email", autocomplete: "email"
          %span.focus-input100
        .wrap-input100.m-b-18{"data-validate" => "Password is required"}
          %span.label-input100 Password
          = f.password_field :password, class: 'input100', :placeholder => "Enter password", autocomplete: "current-password"
          %span.focus-input100
        - if devise_mapping.rememberable?
          .flex-sb-m.w-full.p-b-30
            = f.check_box :remember_me, id: 'ckb1', class: 'input-checkbox100'
            %label.label-checkbox100{:for => "ckb1"}
              Remember me
        .container-login100-form-btn
          .form-group{style:"color:red;"}
            = flash.alert
        .container-login100-form-btn
          %button.login100-form-btn
            Login