%section.blog_area.p_100
  .container
    .row.blog_grid_inner
      .col-lg-8
        .blog_grid_items.row
          .col-md-6
            %article.l_blog_item
              .blog_img
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/blog-grid/blog-grid-1.jpg"}/
                %a.cat{:href => "#{post_path(@posts.first.slug)}"} News
              .blog_content
                %a.date{:href => "#{post_path(@posts.first.slug)}"}
                  %i.icon-calendar1
                  Nov 20, 2021
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %h3 Main reasons to buy luxury car in 2018
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed them eiusmod...
          .col-md-6
            %article.l_blog_item
              .blog_img
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/blog-grid/blog-grid-2.jpg"}/
                %a.cat{:href => "#{post_path(@posts.first.slug)}"} News
              .blog_content
                %a.date{:href => "#{post_path(@posts.first.slug)}"}
                  %i.icon-calendar1
                  Nov 20, 2021
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %h3 This non-slip tool mat might your garage
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed them eiusmod...
          .col-md-6
            %article.l_blog_item
              .blog_img
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/blog-grid/blog-grid-3.jpg"}/
                %a.cat{:href => "#{post_path(@posts.first.slug)}"} News
              .blog_content
                %a.date{:href => "#{post_path(@posts.first.slug)}"}
                  %i.icon-calendar1
                  Nov 20, 2021
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %h3 Bartosz Ostalowski is a pro with his feet
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed them eiusmod...
          .col-md-6
            %article.l_blog_item
              .blog_img
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/blog-grid/blog-grid-4.jpg"}/
                %a.cat{:href => "#{post_path(@posts.first.slug)}"} News
              .blog_content
                %a.date{:href => "#{post_path(@posts.first.slug)}"}
                  %i.icon-calendar1
                  Nov 20, 2021
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %h3 2020 Mercedes-Benz GLB Class First Ride
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed them eiusmod...
          .col-md-6
            %article.l_blog_item
              .blog_img
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/blog-grid/blog-grid-5.jpg"}/
                %a.cat{:href => "#{post_path(@posts.first.slug)}"} News
              .blog_content
                %a.date{:href => "#{post_path(@posts.first.slug)}"}
                  %i.icon-calendar1
                  Nov 20, 2021
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %h3 2020 Audi RS 70 First Drive The king of its hill
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed them eiusmod...
          .col-md-6
            %article.l_blog_item
              .blog_img
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/blog-grid/blog-grid-6.jpg"}/
                %a.cat{:href => "#{post_path(@posts.first.slug)}"} News
              .blog_content
                %a.date{:href => "#{post_path(@posts.first.slug)}"}
                  %i.icon-calendar1
                  Nov 20, 2021
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %h3 Nissan and Infiniti recall 1.2 million vehicles
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed them eiusmod...
          .col-md-6
            %article.l_blog_item
              .blog_img
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/blog-grid/blog-grid-7.jpg"}/
                %a.cat{:href => "#{post_path(@posts.first.slug)}"} News
              .blog_content
                %a.date{:href => "#{post_path(@posts.first.slug)}"}
                  %i.icon-calendar1
                  Nov 20, 2021
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %h3 EPA chief blasts California air threatens
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed them eiusmod...
          .col-md-6
            %article.l_blog_item
              .blog_img
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/blog-grid/blog-grid-8.jpg"}/
                %a.cat{:href => "#{post_path(@posts.first.slug)}"} News
              .blog_content
                %a.date{:href => "#{post_path(@posts.first.slug)}"}
                  %i.icon-calendar1
                  Nov 20, 2021
                %a{:href => "#{post_path(@posts.first.slug)}"}
                  %h3 Fiat Cheler senior manager charged in U.S
                %p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed them eiusmod...
        %nav.pagination.justify-content-center{"aria-label" => "Page navigation example"}
          %ul.pagination
            %li.page-item
              %a.page-link{:href => "#{post_path(@posts.first.slug)}"}
                %i.icon-arrow
            %li.page-item.active
              %a.page-link{:href => "#{post_path(@posts.first.slug)}"} 1
            %li.page-item
              %a.page-link{:href => "#{post_path(@posts.first.slug)}"} 2
            %li.page-item
              %a.page-link{:href => "#{post_path(@posts.first.slug)}"} 3
            %li.page-item
              %a.page-link{:href => "#{post_path(@posts.first.slug)}"} 4
            %li.page-item
              %a.page-link{:href => "#{post_path(@posts.first.slug)}"} 5
            %li.page-item
              %a.page-link{:href => "#{post_path(@posts.first.slug)}"} 6..
            %li.page-item
              %a.page-link{:href => "#{post_path(@posts.first.slug)}"}
                %i.icon-arrow_2
      .col-lg-4
        .right_sidebar_area
          %aside.r_widget.search_widget
            .input-group
              %input.form-control{:placeholder => "Search...", :type => "text"}/
              .input-group-append
                %button.btn{:type => "button"}
                  %i.icon-search1
          %aside.r_widget.news_widget
            .r_title
              %h3 Latest News
            .news_inner
              .media
                .d-flex
                  %img{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/l-news/l-news-1.jpg"}/
                .media-body
                  %a{:href => "#{post_path(@posts.first.slug)}"}
                    %h4 The harder you work them more luck.
                  %a{:href => "#{post_path(@posts.first.slug)}"}
                    %p
                      %i.icon-calendar1>
                      March 14, 2021
              .media
                .d-flex
                  %img{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/l-news/l-news-2.jpg"}/
                .media-body
                  %a{:href => "#{post_path(@posts.first.slug)}"}
                    %h4 Bartosz Ostalowski is a pro with his feet
                  %a{:href => "#{post_path(@posts.first.slug)}"}
                    %p
                      %i.icon-calendar1>
                      March 14, 2021
              .media
                .d-flex
                  %img{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/l-news/l-news-3.jpg"}/
                .media-body
                  %a{:href => "#{post_path(@posts.first.slug)}"}
                    %h4 Fiat Chryler senior for manager charged in
                  %a{:href => "#{post_path(@posts.first.slug)}"}
                    %p
                      %i.icon-calendar1>
                      March 14, 2021