%section.blog_area.p_100
  .container
    .row.blog_grid_inner
      .col-lg-8
        .single_blog_inner
          %article.blog_item
            .blog_img
              = image_tag(url_for(@post.background), class: "img-fluid")
              .blog_text
                .cat_area
                  .cat_list
                    %a News
                  %a
                    %i.icon-calendar1
                    = @post.created_at.strftime("%d/%m/%Y")
                  %a
                    %i.icon-user-o
                    By Admin
                %a
                  %h3= @post.title
                .single_view
                  = raw @post.body
                .single_social
                  %h5 Share
                  %a{href: "https://www.facebook.com/share.php?u=#{request.original_url}", target: :blank}
                    %i.fab.fa-facebook
                  %a{href: "https://twitter.com/intent/tweet?url=#{request.original_url}", target: :blank}
                    %i.fab.fa-twitter
                  %a{:href => "#"}
                    %i.fab.fa-youtube
                  %a{:href => "#"}
                    %i.fab.fa-dribbble
      .col-lg-4
        .right_sidebar_area
          %aside.r_widget.search_widget
            .input-group
              %input.form-control{:placeholder => "Search...", :type => "text"}
                .input-group-append
                  %button.btn{:type => "button"}
                    %i.icon-search1
          %aside.r_widget.news_widget
            .r_title
              %h3 Latest News
            .news_inner
              .media
                .d-flex
                  %img{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/l-news/l-news-1.jpg"}
                .media-body
                  %a{:href => "#"}
                    %h4 The harder you work them more luck.
                  %a{:href => "#"}
                    %p
                      %i.icon-calendar1>
                      March 14, 2019
              .media
                .d-flex
                  %img{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/l-news/l-news-2.jpg"}
                .media-body
                  %a{:href => "#"}
                    %h4 Bartosz Ostalowski is a pro with his feet
                  %a{:href => "#"}
                    %p
                      %i.icon-calendar1>
                      March 14, 2019
              .media
                .d-flex
                  %img{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/l-news/l-news-3.jpg"}
                .media-body
                  %a{:href => "#"}
                    %h4 Fiat Chryler senior for manager charged in
                  %a{:href => "#"}
                    %p
                      %i.icon-calendar1>
                      March 14, 2019