%section.p_100
  .row{ style: "margin-top:2em; margin-bottom:1em;" }
    .col-xs-3{ style: "height: 1em;" }
    .col-xs-6{ style: "height: 1em;" }
    .col-xs-3
      %p Welcome admin!
      %p
        Signed in as
        %span{ style: "font-weight: bold;" }= current_admin.email
      %p{ style: "font-style: italic;" }
        = link_to "Sign Out", destroy_admin_session_path, method: :delete, id: "sign-out-btn"
  .row{ style: "margin-bottom:1em;" }
    %ul#myTab.nav.nav-tabs{:role => "tablist"}
      %li.nav-item
        = link_to 'Dashboard', admins_path, { class: "nav-link  #{ params[:controller].include?("dashboard") ? "active" : "" }" }
      %li.nav-item
        = link_to 'Products', admins_products_path, { class: "nav-link  #{ params[:controller].include?("products") ? "active" : "" }" }
      %li.nav-item
        = link_to 'Car models', admins_car_models_path, { class: "nav-link  #{ params[:controller].include?("car_models") ? "active" : "" }" }
