= simple_form_for @admins_product, url: url do |f|
  .row
    .col-md-6
      .row
        .col-md-6
          .form-group
            = f.input :origin, label: 'Xuất xứ', input_html: { class: 'form-control'}
        .col-md-6
          .form-group
            = f.input :car_model_id, label: 'Mẫu xe', collection: CarModel.all.map{|car_model| car_model.name}, selected: car_model_for_product(@admins_product.car_model_id), input_html: { class: 'form-control'}
      .row
        .col-md-6
          .form-group
            = f.input :name, label: 'Tên sản phẩm', input_html: { class: 'form-control' }
        .col-md-6
          .form-group
            = f.input :price, as: :numeric, label: 'Giá sản phẩm', input_html: { class: 'form-control'}
      .row
        .col-md-6
          .form-group
            = f.input :year, label: 'Năm sản Xuất', as: :numeric , input_html: { class: 'form-control'}
        .col-md-6
          .form-group
            = f.input :transmission, label: 'Hộp số', input_html: { class: 'form-control'}
      .row
        .col-md-6
          .form-group
            = f.input :body_type, label: 'Kiểu dáng xe', input_html: { class: 'form-control'}
        .col-md-6
          .form-group
            = f.input :seats, label: 'Số ghế', as: :numeric, input_html: { class: 'form-control'}
      .row
        .col-md-6
          .form-group
            = f.input :doors, label: 'Số cửa', as: :numeric, input_html: { class: 'form-control'}
        .col-md-6
          .form-group
            = f.input :colors, label: 'Số màu', as: :numeric, input_html: { class: 'form-control'}
      .row
        .col-md-6
          .form-group
            = f.input :cylinder_capacity, label: 'kích thước động cơ', as: :numeric, input_html: { class: 'form-control'}
        .col-md-6
          .form-group
            = f.input :fuel, label: 'Nhiên liệu', input_html: { class: 'form-control'}
    .col-md-6
      .row
        .form-group
          = f.input :slug, label: 'Đường dẫn đến sản phẩm', input_html: { class: 'form-control'}
      .row
        = f.simple_fields_for :attachments, f.object.attachments.present? ? f.object.attachments : f.object.attachments.build do |attachment|
          = render 'attachment_fields', form: attachment
        #add_attachment.links
          = link_to_add_association raw('<i class="fas fa-plus">Add more</i>'), f, :attachments, form_name: 'form'
    .clearfix
    .col-xs-12
      = f.submit "Lưu lại", class: "btn btn-primary"
%br