.container
  - flash.each do |key, value|
    .alert.alert-warning.alert-dismissible.fade.show{:role => "alert"}
      %strong= value
      %button.close{"aria-label" => "Close", "data-dismiss" => "alert", :type => "button"}
        %span{"aria-hidden" => "true"} ×
  %p
    = link_to 'Back', admins_products_path
    |
    = link_to 'Edit', edit_admins_product_path

    .row
      .table-responsive
        %table.table.table-bordered
          %tr
            %th ID
            %td= @admins_product.id
          %tr
            %th Car Model
            %td= car_model_for_product(@admins_product.car_model_id)
          %tr
            %th Tên
            %td= @admins_product.name
          %tr
            %th Đường dẫn đến sản phẩm
            %td= @admins_product.slug
          %tr
            %th Giá
            %td= "#{number_to_currency(@admins_product.price, precision: 0, unit: '')} VND"
          %tr
            %th Năm Sản xuất
            %td= @admins_product.year
          %tr
            %th Hộp số
            %td= @admins_product.transmission
          %tr
            %th Động cơ
            %td= @admins_product.cylinder_capacity
          %tr
            %th Nhiên Liệu
            %td= @admins_product.fuel
          %tr
            %th kiểu dáng
            %td= @admins_product.body_type
          %tr
            %th Ghế
            %td= @admins_product.seats
          %tr
            %th Màu
            %td= @admins_product.colors
          %tr
            %th Cửa
            %td= @admins_product.doors
          %tr
            %th xuất xứ
            %td= @admins_product.origin
          %tr
            %th Hình ảnh
            %td
              - @admins_product.attachments.each do |file|
                = image_tag( url_for(file.image), class: "img-fluid", width: 200)