= render 'layouts/products/breadcumb'
%section.latest_collection_area.p_100
  .container
    .flag_title
      %h2.wow.fadeInUp.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"}
        = image_tag("icon/flag-2.png")
        Bộ sưu tập mới nhất
    .row.l_collection_inner
      .col-lg-4.col-md-6
        .l_collection_item.wow.fadeInUp.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"}
          .car_img
            %a{:href => "product-details.html"}
              = image_tag("product/car-collection/car-1.jpg", class: "img-fluid")
          .text_body
            %a{:href => "product-details.html"}
              %h4 Jaguer M1 Hybrid
            %h5 $16,000
            %p
              Build year:
              %span 2015
          .text_footer
            %a{:href => "#"}
              %i.icon-engine
              2500
            %a{:href => "#"}
              %i.icon-gear1
              Manual
            %a{:href => "#"}
              %i.icon-oil>
              20/24
      .col-lg-4.col-md-6
        .l_collection_item.wow.fadeInUp.animated{"data-wow-delay" => "0.4s", :style => "visibility: visible; animation-delay: 0.4s; animation-name: fadeInUp;"}
          .car_img
            %a{:href => "product-details.html"}
              = image_tag("product/car-collection/car-2.jpg", class: "img-fluid")
          .text_body
            %a{:href => "product-details.html"}
              %h4 Audi A8 Hybrid
            %h5 $16,000
            %p
              Build year:
              %span 2015
          .text_footer
            %a{:href => "#"}
              %i.icon-engine
              2500
            %a{:href => "#"}
              %i.icon-gear1
              Manual
            %a{:href => "#"}
              %i.icon-oil>
              20/24
      .col-lg-4.col-md-6
        .l_collection_item.wow.fadeInUp.animated{"data-wow-delay" => "0.6s", :style => "visibility: visible; animation-delay: 0.6s; animation-name: fadeInUp;"}
          .car_img
            %a{:href => "product-details.html"} 
              = image_tag("product/car-collection/car-3.jpg", class: "img-fluid")
          .text_body
            %a{:href => "product-details.html"}
              %h4 Mercedez Benz E
            %h5 $16,000
            %p
              Build year:
              %span 2015
          .text_footer
            %a{:href => "#"}
              %i.icon-engine
              2500
            %a{:href => "#"}
              %i.icon-gear1
              Manual
            %a{:href => "#"}
              %i.icon-oil>
              20/24
      .col-lg-4.col-md-6
        .l_collection_item.wow.fadeInUp.animated{"data-wow-delay" => "0.8s", :style => "visibility: visible; animation-delay: 0.8s; animation-name: fadeInUp;"}
          .car_img
            %a{:href => "product-details.html"}
              = image_tag("product/car-collection/car-4.jpg", class: "img-fluid")
          .text_body
            %a{:href => "product-details.html"}
              %h4 Jaguer M1 Hybrid
            %h5 $16,000
            %p
              Build year:
              %span 2015
          .text_footer
            %a{:href => "#"}
              %i.icon-engine
              2500
            %a{:href => "#"}
              %i.icon-gear1
              Manual
            %a{:href => "#"}
              %i.icon-oil>
              20/24
      .col-lg-4.col-md-6
        .l_collection_item.wow.fadeInUp.animated{"data-wow-delay" => "1s", :style => "visibility: visible; animation-delay: 1s; animation-name: fadeInUp;"}
          .car_img
            %a{:href => "product-details.html"}
              = image_tag("product/car-collection/car-5.jpg", class: "img-fluid")
          .text_body
            %a{:href => "product-details.html"}
              %h4 Audi A8 Hybrid
            %h5 $16,000
            %p
              Build year:
              %span 2015
          .text_footer
            %a{:href => "#"}
              %i.icon-engine
              2500
            %a{:href => "#"}
              %i.icon-gear1
              Manual
            %a{:href => "#"}
              %i.icon-oil>
              20/24
      .col-lg-4.col-md-6
        .l_collection_item.wow.fadeInUp.animated{"data-wow-delay" => "1.2s", :style => "visibility: visible; animation-delay: 1.2s; animation-name: fadeInUp;"}
          .car_img
            %a{:href => "product-details.html"}
              = image_tag("product/car-collection/car-6.jpg", class: "img-fluid")
          .text_body
            %a{:href => "product-details.html"}
              %h4 Bugatti Venon
            %h5 $16,000
            %p
              Build year:
              %span 2015
          .text_footer
            %a{:href => "#"}
              %i.icon-engine
              2500
            %a{:href => "#"}
              %i.icon-gear1
              Manual
            %a{:href => "#"}
              %i.icon-oil>
              20/24
