= render 'layouts/products/breadcumb'
%section.product_details_area.p_100
  .container
    .row.product_details_inner
      .col-lg-8
        .product_details_left
          .price_title.d-flex.justify-content-between
            .left
              %h3 La Ferrari Coupe
            .right
              %h4 $16,000
          .product_info
            -#########
          .product_d_slider
            .product_main_slider
              .item
                = image_tag("product/product-details-1.jpg")
              .item
                = image_tag("product/product-details-2.jpg")
              .item
                = image_tag("product/product-details-3.jpg")
              .item
                = image_tag("product/product-details-4.jpg")
              .item
                = image_tag("product/product-details-6.jpg")
              .item
                = image_tag("product/product-details-1.jpg")
              .item
                = image_tag("product/product-details-2.jpg")
              .item
                = image_tag("product/product-details-3.jpg")
            .product_nav_slider
              .item
                .img_inner
                  = image_tag("product/product-tab-1.jpg")
              .item
                .img_inner
                  = image_tag("product/product-tab-2.jpg")
              .item
                .img_inner
                  = image_tag("product/product-tab-3.jpg")
              .item
                .img_inner
                  = image_tag("product/product-tab-4.jpg")
              .item
                .img_inner
                  = image_tag("product/product-tab-6.jpg")
              .item
                .img_inner
                  = image_tag("product/product-tab-1.jpg")
              .item
                .img_inner
                  = image_tag("product/product-tab-2.jpg")
              .item
                .img_inner
                  = image_tag("product/product-tab-3.jpg")
      .col-lg-4
        .product_list_right
          %a.main_btn.red.popup-with-zoom-anim{:href => "#offerPopup"} Liên hệ báo giá
          %ul.nav.flex-column
            %li
              %a{:href => "#"}
                %i.icon-clock_2>
                Date
                %span 12 June 2019
            %li
              %a{:href => "#"}
                %i.icon-gear1>
                Transmission
                %span Automatic
            %li
              %a{:href => "#"}
                %i.icon-calendar-check-o>
                Year
                %span 2019
            %li
              %a{:href => "#"}
                %i.icon-engine>
                Engine Size
                %span 3200 cc
            %li
              %a{:href => "#"}
                %i.icon-car_3>
                Body Type
                %span Sedan
            %li
              %a{:href => "#"}
                %i.icon-engine>
                Engine Type
                %span Petrol
            %li
              %a{:href => "#"}
                %i.icon-assembly>
                Assembly
                %span Germany
            %li
              %a{:href => "#"}
                %i.icon-seat>
                Seat
                %span 5
            %li
              %a{:href => "#"}
                %i.icon-color_plate>
                Color
                %span.color
            %li
              %a{:href => "#"}
                %i.icon-door>
                Doors
                %span 4
    .product_overview_text
      %h4 Overview
      %p
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do them and eiusmod tempor incididunt labore dolorie magna aliqua. Ut enim adoren minim venim quis nostrud exercitation. Ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat
      .row
        .col-lg-6
          %ul.nav.flex-column
            %li
              = image_tag("icon/green.png") 
              Strong engine options, including a plug-in hybrid
            %li
              = image_tag("icon/green.png") 
              Standard adaptive air suspension delivers a comfortable
            %li
              = image_tag("icon/green.png") 
              Exceptional rear passenger space
            %li
              = image_tag("icon/green.png") 
              Abundant standard equipment, including safety tech
            %li
              = image_tag("icon/green.png") 
              No standard-length wheelbase model available
            %li
              = image_tag("icon/green.png") 
              Not the driver-focused benchmark it once was
        .col-lg-6
          %ul.nav.flex-column
            %li
              = image_tag("icon/green.png") 
              Strong engine options, including a plug-in hybrid
            %li
              = image_tag("icon/green.png") 
              Standard adaptive air suspension delivers a comfortable
            %li
              = image_tag("icon/green.png") 
              Exceptional rear passenger space
            %li
              = image_tag("icon/green.png") 
              Abundant standard equipment, including safety tech
            %li
              = image_tag("icon/green.png") 
              No standard-length wheelbase model available
            %li
              = image_tag("icon/green.png") 
              Not the driver-focused benchmark it once was
    .specification_area
      .single_b_title
        %h3 Specification
      .row
        .col-lg-4
          .left_spec
            #nav-tab.nav.nav-tabs.flex-column{:role => "tablist"}
              %a#nav-home-tab.nav-item.nav-link.active{"aria-controls" => "nav-home", "aria-selected" => "true", "data-toggle" => "tab", :href => "#nav-home", :role => "tab"} Performance  Efficiency
              %a#nav-profile-tab.nav-item.nav-link{"aria-controls" => "nav-profile", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-profile", :role => "tab"} Audio System
              %a#nav-contact-tab.nav-item.nav-link{"aria-controls" => "nav-contact", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-contact", :role => "tab"} Instrumentation  Controls
              %a#nav-contact-tab2.nav-item.nav-link{"aria-controls" => "nav-contact2", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-contact2", :role => "tab"} Comfort  Convenience
              %a#nav-contact-tab3.nav-item.nav-link{"aria-controls" => "nav-contact3", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-contact3", :role => "tab"} Safety and Security
              %a#nav-contact-tab4.nav-item.nav-link{"aria-controls" => "nav-contact4", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-contact4", :role => "tab"} Interior
              %a#nav-contact-tab5.nav-item.nav-link{"aria-controls" => "nav-contact5", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-contact5", :role => "tab"} Exterior
              %a#nav-contact-tab6.nav-item.nav-link{"aria-controls" => "nav-contact6", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-contact6", :role => "tab"} Safety
              %a#nav-contact-tab7.nav-item.nav-link{"aria-controls" => "nav-contact7", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-contact7", :role => "tab"} Entertainment
              %a#nav-contact-tab8.nav-item.nav-link{"aria-controls" => "nav-contact8", "aria-selected" => "false", "data-toggle" => "tab", :href => "#nav-contact8", :role => "tab"} Auto Checkup
        .col-lg-8
          .right_spec
            #nav-tabContent.tab-content
              #nav-home.tab-pane.fade.show.active{"aria-labelledby" => "nav-home-tab", :role => "tabpanel"}
                .spec_information.nice_scroll
                  %h4 Performance  Efficiency
                  %ul.nav.flex-column
                    %li
                      Alloy Wheels
                      %span 600.7bhp
                    %li
                      Engine Start Stop Button
                      = image_tag("icon/green.png")
                    %li
                      Fuel Type
                      %span Petrol
                    %li
                      Mileage (ARAI)
                      %span 5620
                    %li
                      Front Suspension
                      %span 12
                    %li
                      Steering Type
                      %span Gear
                    %li
                      Steering Column
                      %span 15
                    %li
                      Steering Gear Type
                      = image_tag("icon/close-icon.png")
                    %li
                      Front Brake Type
                      %span ABS
                    %li
                      Length (mm)
                      %span 5000 mm
                    %li
                      Width (mm)
                      %span 2400 mm
                    %li
                      ARAI Mileage
                      %span 20 kmh
                    %li
                      Max Torque (nm@rpm)
                      %span 1400 nm
                    %li
                      TransmissionType
                      %span Auto
                    %li
                      Body Type
                      %span SUV
              #nav-profile.tab-pane.fade{"aria-labelledby" => "nav-profile-tab", :role => "tabpanel"}
                .spec_information.nice_scroll
                  %h4 Audio System
                  %ul.nav.flex-column
                    %li
                      Front Right Tweeter
                      %span Speaker
                    %li
                      Front Door Speaker
                      %span Subwoofer
                    %li
                      Under Seat Speaker
                      %span Mid-woofer
                    %li
                      Rear Door Right Tweeter
                      %span Speaker
                    %li
                      Rear Door Right Speaker
                      %span Subwoofer
                    %li
                      Bass System
                      = image_tag("icon/green.jpg")
                    %li
                      Dual Channel Speaker
                      = image_tag("icon/green.jpg")
                    %li
                      Bluetooth Speaker
                      = image_tag("icon/close-icon.png")
                    %li
                      iPad
                      = image_tag("icon/green.jpg")
                    %li
                      Digital Screen
                      = image_tag("icon/green.jpg")
                    %li
                      Factory
                      %span OE Amplifier
                    %li
                      Rear Door Left Speaker
                      %span Speaker
                    %li
                      Rear Door Left Tweeter
                      %span Subwoofer
              #nav-contact.tab-pane.fade{"aria-labelledby" => "nav-contact-tab", :role => "tabpanel"}
                .spec_information.nice_scroll
                  %h4 Instrumentation  Controls
                  %ul.nav.flex-column
                    %li
                      Rear wheel suspension
                      %span Multi-link
                    %li
                      Front suspension
                      %span Air / Pneumatic
                    %li
                      Rear stabilizer
                      = image_tag("icon/green.jpg")
                    %li
                      Front tire size
                      %span 275/50R20
                    %li
                      Turning radius
                      %span 13,0 m
                    %li
                      Brake assist
                      = image_tag("icon/green.jpg")
                    %li
                      ABS
                      = image_tag("icon/green.jpg")
                    %li
                      1st gear
                      %span 5,25:1
                    %li
                      2nd gear
                      %span 3,36:1
                    %li
                      3rd gear
                      %span 2,17:1
                    %li
                      4th gear
                      %span 3,64:1
                    %li
                      5th gear
                      %span 4,44:1
                    %li
                      6th gear
                      %span 2,50:1
                    %li
                      RPM at 120 km/h
                      %span 1.900 rpm
                    %li
                      Final transmission
                      %span 3,64:1
              #nav-contact2.tab-pane.fade{"aria-labelledby" => "nav-contact-tab2", :role => "tabpanel"}
                .spec_information.nice_scroll
                  %h4 Comfort  Convenience
                  %ul.nav.flex-column
                    %li
                      Central locking
                      = image_tag("icon/green.png")
                    %li
                      Keyless entry/start
                      = image_tag("icon/green.png")
                    %li
                      Cruise control
                      = image_tag("icon/close-icon.png")
                    %li
                      Air conditioning
                      = image_tag("icon/green.png")
                    %li
                      Start/stop system
                      = image_tag("icon/close-icon.png")
                    %li
                      Power Steering
                      = image_tag("icon/green.png")
                    %li
                      Power Windows Front
                      = image_tag("icon/green.png")
                    %li
                      Power Windows-Rear
                      = image_tag("icon/green.png")
                    %li
                      Heater
                      = image_tag("icon/green.png")
                    %li
                      Adjustable Steering
                      = image_tag("icon/close-icon.png")
                    %li
                      Automatic Climate Control
                      = image_tag("icon/green.png")
                    %li
                      Air Quality Control
                      = image_tag("icon/green.png")
                    %li
                      Remote Trunk Opener
                      = image_tag("icon/close-icon.png")
                    %li
                      Remote Fuel
                      = image_tag("icon/green.png")
                    %li
                      Low Fuel Warning
                      = image_tag("icon/green.png")
              #nav-contact3.tab-pane.fade{"aria-labelledby" => "nav-contact-tab3", :role => "tabpanel"}
                .spec_information.nice_scroll
                  %h4 Safety and Security
                  %ul.nav.flex-column
                    %li
                      Adjustable Seats
                      = image_tag("icon/green.png")
                    %li
                      Tyre Pressure Monitor
                      = image_tag("icon/green.png")
                    %li
                      Vehicle Stability
                      = image_tag("icon/close-icon.png")
                    %li
                      Control System
                      = image_tag("icon/green.png")
                    %li
                      Engine Immobilizer
                      = image_tag("icon/close-icon.png")
                    %li
                      Crash Sensor
                      = image_tag("icon/green.png")
                    %li
                      Centrally Mounted Fuel Tank
                      = image_tag("icon/green.png")
                    %li
                      Engine Check Warning
                      = image_tag("icon/green.png")
                    %li
                      Automatic Headlamps
                      = image_tag("icon/green.png")
                    %li
                      Clutch Lock
                      = image_tag("icon/close-icon.png")
                    %li
                      EBD
                      = image_tag("icon/green.png")
                    %li
                      Air Quality Control
                      = image_tag("icon/green.png")
                    %li
                      Remote Trunk Opener
                      = image_tag("icon/close-icon.png")
                    %li
                      Remote Fuel
                      = image_tag("icon/green.png")
                    %li
                      Low Fuel Warning
                      = image_tag("icon/green.png")
              #nav-contact4.tab-pane.fade{"aria-labelledby" => "nav-contact-tab4", :role => "tabpanel"}
                .spec_information.nice_scroll
                  %h4 Interior
                  %ul.nav.flex-column
                    %li
                      Tachometer
                      = image_tag("icon/green.png")
                    %li
                      Electronic Multi-Tripmeter
                      = image_tag("icon/green.png")
                    %li
                      Leather Seats
                      = image_tag("icon/close-icon.png")
                    %li
                      Fabric Upholstery
                      = image_tag("icon/green.png")
                    %li
                      Leather Steering Wheel
                      = image_tag("icon/close-icon.png")
                    %li
                      Glove Compartment
                      = image_tag("icon/green.png")
                    %li
                      Digital Clock
                      = image_tag("icon/green.png")
                    %li
                      Outside Temperature Display
                      = image_tag("icon/green.png")
                    %li
                      Cigarette Lighter
                      = image_tag("icon/green.png")
                    %li
                      Digital Odometer
                      = image_tag("icon/close-icon.png")
              #nav-contact5.tab-pane.fade{"aria-labelledby" => "nav-contact-tab5", :role => "tabpanel"}
                .spec_information.nice_scroll
                  %h4 Exterior
                  %ul.nav.flex-column
                    %li
                      Electric Folding Rear View Mirror
                      = image_tag("icon/green.png")
                    %li
                      Rain Sensing Wiper
                      = image_tag("icon/green.png")
                    %li
                      Rear Window Wiper
                      = image_tag("icon/close-icon.png")
                    %li
                      Rear Window Washer
                      = image_tag("icon/green.png")
                    %li
                      Wheel Covers
                      = image_tag("icon/close-icon.png")
                    %li
                      Alloy Wheel Size (Inch)
                      = image_tag("icon/green.png")
                    %li
                      Power Antenna
                      = image_tag("icon/green.png")
                    %li
                      Tinted Glass
                      = image_tag("icon/green.png")
                    %li
                      Rear Spoiler
                      = image_tag("icon/green.png")
                    %li
                      Removable/Convertible Top
                      = image_tag("icon/close-icon.png")
                    %li
                      Roof Carrier
                      = image_tag("icon/green.png")
                    %li
                      Sun Roof
                      = image_tag("icon/close-icon.png")
              #nav-contact6.tab-pane.fade{"aria-labelledby" => "nav-contact-tab6", :role => "tabpanel"}
                .spec_information.nice_scroll
                  %h4 Safety
                  %ul.nav.flex-column
                    %li
                      Anti-Lock Braking System
                      = image_tag("icon/green.png")
                    %li
                      Brake Assist
                      = image_tag("icon/green.png")
                    %li
                      Central Locking
                      = image_tag("icon/close-icon.png")
                    %li
                      Power Door Locks
                      = image_tag("icon/green.png")
                    %li
                      Child Safety Locks
                      = image_tag("icon/close-icon.png")
                    %li
                      Anti-Theft Alarm
                      = image_tag("icon/green.png")
                    %li
                      Driver Airbag
                      = image_tag("icon/green.png")
                    %li
                      Passenger Airbag
                      = image_tag("icon/green.png")
                    %li
                      Side Airbag
                      = image_tag("icon/green.png")
                    %li
                      Front Side Airbag
                      = image_tag("icon/close-icon.png")
                    %li
                      RearDay  Night Rear View Mirror
                      = image_tag("icon/green.png")
                    %li
                      Passenger Side Rear View Mirror
                      = image_tag("icon/green.png")
                    %li
                      Xenon Headlamps
                      = image_tag("icon/close-icon.png")
                    %li
                      Rear Seat Belts
                      = image_tag("icon/green.png")
                    %li
                      Seat Belt Warning
                      = image_tag("icon/green.png")
              #nav-contact7.tab-pane.fade{"aria-labelledby" => "nav-contact-tab7", :role => "tabpanel"}
                .spec_information.nice_scroll
                  %h4 Entertainment
                  %ul.nav.flex-column
                    %li
                      Cd Player
                      = image_tag("icon/green.png")
                    %li
                      CD Changer
                      = image_tag("icon/green.png")
                    %li
                      DVD Player
                      = image_tag("icon/close-icon.png")
                    %li
                      Radio
                      = image_tag("icon/green.png")
                    %li
                      Audio System
                      = image_tag("icon/close-icon.png")
                    %li
                      Remote Control
                      = image_tag("icon/green.png")
                    %li
                      Speakers Front
                      = image_tag("icon/green.png")
                    %li
                      Speakers Rear
                      = image_tag("icon/green.png")
                    %li
                      Integrated 2DIN Audio
                      = image_tag("icon/green.png")
                    %li
                      USB  Auxiliary input
                      = image_tag("icon/close-icon.png")
                    %li
                      Bluetooth Connectivity
                      = image_tag("icon/green.png")
                    %li
                      Touch Screen
                      = image_tag("icon/green.png")
                    %li
                      Internal Storage
                      = image_tag("icon/close-icon.png")
                    %li
                      No of Speakers
                      %span 15
                    %li
                      Rear Entertainment System
                      = image_tag("icon/green.png")
              #nav-contact8.tab-pane.fade{"aria-labelledby" => "nav-contact-tab8", :role => "tabpanel"}
                .spec_information.nice_scroll
                  %h4 Auto Checkup
                  %ul.nav.flex-column
                    %li
                      Basic Miles
                      %span 50,000
                    %li
                      Basic Years
                      %span 4
                    %li
                      Corrosion Miles
                      %span Unlimited
                    %li
                      Corrosion
                      %span 12
                    %li
                      Drivetrain Miles
                      %span 50,000
                    %li
                      Drivetrain Years
                      %span 4
                    %li
                      Hybrid/Electric Components Miles
                      %span 100,000
                    %li
                      Hybrid/Electric Components Year
                      %span 8
                    %li
                      Maintenance Miles
                      %span 36,000
                    %li
                      Maintenance Years
                      %span 6
                    %li
                      Roadside Assistance Miles
                      %span Unlimited
                    %li
                      Roadside Assistance Years
                      %span 4
= render "products/popup_contact"
