%section.car_browse_area.p_100
  .container
    .flag_center_title
      %h2.wow.fadeInUp.animated{"data-wow-delay" => "0.2s", :style => "vanimation-delay: 0.2s; animation-name: fadeInUp;"}
        = image_tag("icon/flag-2.png")
        model
    .car_browse_slider.owl-carousel.owl-loaded.owl-drag
      .owl-stage-outer
        .owl-stage{:style => "transform: translate3d(-1170px, 0px, 0px); transition: all 0s ease 0s; width: 3900px;"}
          .owl-item.cloned{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-3.png")
                %a{:href => "shop.html"}
                  %h5
                    Hybrid
                    %span (24)
          .owl-item.cloned{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-4.png")
                %a{:href => "shop.html"}
                  %h5
                    SUV
                    %span (50)
          .owl-item.cloned{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-5.png")
                %a{:href => "shop.html"}
                  %h5
                    Luxury
                    %span (34)
          .owl-item.cloned{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-6.png")
                %a{:href => "shop.html"}
                  %h5
                    Electric
                    %span (26)
          .owl-item.cloned{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-4.png")
                %a{:href => "shop.html"}
                  %h5
                    FAW
                    %span (05)
          .owl-item.cloned{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-3.png")
                %a{:href => "shop.html"}
                  %h5
                    Audi
                    %span (32)
          .owl-item.active{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-1.png")
                %a{:href => "shop.html"}
                  %h5
                    convertible
                    %span (80)
          .owl-item.active{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-2.png")
                %a{:href => "shop.html"}
                  %h5
                    Sedan
                    %span (25)
          .owl-item.active{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-3.png")
                %a{:href => "shop.html"}
                  %h5
                    Hybrid
                    %span (24)
          .owl-item.active{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-4.png")
                %a{:href => "shop.html"}
                  %h5
                    SUV
                    %span (50)
          .owl-item.active{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-5.png")
                %a{:href => "shop.html"}
                  %h5
                    Luxury
                    %span (34)
          .owl-item.active{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-6.png")
                %a{:href => "shop.html"}
                  %h5
                    Electric
                    %span (26)
          .owl-item{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-4.png")
                %a{:href => "shop.html"}
                  %h5
                    FAW
                    %span (05)
          .owl-item{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-3.png")
                %a{:href => "shop.html"}
                  %h5
                    Audi
                    %span (32)
          .owl-item.cloned{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-1.png")
                %a{:href => "shop.html"}
                  %h5
                    convertible
                    %span (80)
          .owl-item.cloned{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-2.png")
                %a{:href => "shop.html"}
                  %h5
                    Sedan
                    %span (25)
          .owl-item.cloned{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-3.png")
                %a{:href => "shop.html"}
                  %h5
                    Hybrid
                    %span (24)
          .owl-item.cloned{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-4.png")
                %a{:href => "shop.html"}
                  %h5
                    SUV
                    %span (50)
          .owl-item.cloned{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-5.png")
                %a{:href => "shop.html"}
                  %h5
                    Luxury
                    %span (34)
          .owl-item.cloned{:style => "width: 135px; margin-right: 60px;"}
            .item
              .car_c_item
                %a{:href => "shop.html"}
                  = image_tag("car/car-6.png")
                %a{:href => "shop.html"}
                  %h5
                    Electric
                    %span (26)
      .car_arrow.disabled
        %button.owl-prev{:role => "presentation", :type => "button"}
          %i.fa.fa-angle-left{"aria-hidden" => "true"}
        %button.owl-next{:role => "presentation", :type => "button"}
          %i.fa.fa-angle-right{"aria-hidden" => "true"}
      .owl-dots.disabled