%section.feature_car_area
  .container
    .flag_title.white
      %h2.wow.fadeInUp.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"}
        = image_tag("icon/flag-3.png")
        Featured Cars
    .f_car_slider_inner
      .f_car_slider.owl-carousel.owl-loaded.owl-drag
        .owl-stage-outer
          .owl-stage{:style => "transform: translate3d(-3040px, 0px, 0px); transition: all 1.5s ease 0s; width: 4560px;"}
            .owl-item.cloned{:style => "width: 380px;"}
              .item
                .l_collection_item
                  .car_img
                    %a{:href => "product-details.html"}
                      = image_tag("product/car-collection/car-2.jpg")
                  .text_body
                    %a{:href => "product-details.html"}
                      %h4 Mercedez Benz E
                    %h5 $16,000
                    %p
                      Build year:
                      %span 2015
                  .text_footer
                    %a{:href => "#"}
                      %i.icon-engine
                      2500
                    %a{:href => "#"}
                      %i.icon-gear1
                      Manual
                    %a{:href => "#"}
                      %i.icon-oil>
                      20/24
            .owl-item.cloned{:style => "width: 380px;"}
              .item
                .l_collection_item
                  .car_img
                    %a{:href => "product-details.html"}
                      = image_tag("product/car-collection/car-1.jpg")
                  .text_body
                    %a{:href => "product-details.html"}
                      %h4 Mercedez Benz E
                    %h5 $16,000
                    %p
                      Build year:
                      %span 2015
                  .text_footer
                    %a{:href => "#"}
                      %i.icon-engine
                      2500
                    %a{:href => "#"}
                      %i.icon-gear1
                      Manual
                    %a{:href => "#"}
                      %i.icon-oil>
                      20/24
            .owl-item.cloned{:style => "width: 380px;"}
              .item
                .l_collection_item
                  .car_img
                    %a{:href => "product-details.html"}
                      = image_tag("product/car-collection/car-3.jpg")
                  .text_body
                    %a{:href => "product-details.html"}
                      %h4 Mercedez Benz E
                    %h5 $16,000
                    %p
                      Build year:
                      %span 2015
                  .text_footer
                    %a{:href => "#"}
                      %i.icon-engine
                      2500
                    %a{:href => "#"}
                      %i.icon-gear1
                      Manual
                    %a{:href => "#"}
                      %i.icon-oil>
                      20/24
            .owl-item{:style => "width: 380px;"}
              .item
                .l_collection_item
                  .car_img
                    %a{:href => "product-details.html"}
                      = image_tag("product/car-collection/car-1.jpg")
                  .text_body
                    %a{:href => "product-details.html"}
                      %h4 Jaguer M1 Hybrid
                    %h5 $16,000
                    %p
                      Build year:
                      %span 2015
                  .text_footer
                    %a{:href => "#"}
                      %i.icon-engine
                      2500
                    %a{:href => "#"}
                      %i.icon-gear1
                      Manual
                    %a{:href => "#"}
                      %i.icon-oil>
                      20/24
            .owl-item{:style => "width: 380px;"}
              .item
                .l_collection_item
                  .car_img
                    %a{:href => "product-details.html"}
                      = image_tag("product/car-collection/car-2.jpg")
                  .text_body
                    %a{:href => "product-details.html"}
                      %h4 Audi A8 Hybrid
                    %h5 $16,000
                    %p
                      Build year:
                      %span 2015
                  .text_footer
                    %a{:href => "#"}
                      %i.icon-engine
                      2500
                    %a{:href => "#"}
                      %i.icon-gear1
                      Manual
                    %a{:href => "#"}
                      %i.icon-oil>
                      20/24
            .owl-item{:style => "width: 380px;"}
              .item
                .l_collection_item
                  .car_img
                    %a{:href => "product-details.html"}
                      = image_tag("product/car-collection/car-3.jpg")
                  .text_body
                    %a{:href => "product-details.html"}
                      %h4 Mercedez Benz E
                    %h5 $16,000
                    %p
                      Build year:
                      %span 2015
                  .text_footer
                    %a{:href => "#"}
                      %i.icon-engine
                      2500
                    %a{:href => "#"}
                      %i.icon-gear1
                      Manual
                    %a{:href => "#"}
                      %i.icon-oil>
                      20/24
            .owl-item{:style => "width: 380px;"}
              .item
                .l_collection_item
                  .car_img
                    %a{:href => "product-details.html"}
                      = image_tag("product/car-collection/car-2.jpg")
                  .text_body
                    %a{:href => "product-details.html"}
                      %h4 Mercedez Benz E
                    %h5 $16,000
                    %p
                      Build year:
                      %span 2015
                  .text_footer
                    %a{:href => "#"}
                      %i.icon-engine
                      2500
                    %a{:href => "#"}
                      %i.icon-gear1
                      Manual
                    %a{:href => "#"}
                      %i.icon-oil>
                      20/24
            .owl-item{:style => "width: 380px;"}
              .item
                .l_collection_item
                  .car_img
                    %a{:href => "product-details.html"}
                      = image_tag("product/car-collection/car-1.jpg")
                  .text_body
                    %a{:href => "product-details.html"}
                      %h4 Mercedez Benz E
                    %h5 $16,000
                    %p
                      Build year:
                      %span 2015
                  .text_footer
                    %a{:href => "#"}
                      %i.icon-engine
                      2500
                    %a{:href => "#"}
                      %i.icon-gear1
                      Manual
                    %a{:href => "#"}
                      %i.icon-oil>
                      20/24
            .owl-item.active{:style => "width: 380px;"}
              .item
                .l_collection_item
                  .car_img
                    %a{:href => "product-details.html"}
                      = image_tag("product/car-collection/car-3.jpg")
                  .text_body
                    %a{:href => "product-details.html"}
                      %h4 Mercedez Benz E
                    %h5 $16,000
                    %p
                      Build year:
                      %span 2015
                  .text_footer
                    %a{:href => "#"}
                      %i.icon-engine
                      2500
                    %a{:href => "#"}
                      %i.icon-gear1
                      Manual
                    %a{:href => "#"}
                      %i.icon-oil>
                      20/24
            .owl-item.cloned.active{:style => "width: 380px;"}
              .item
                .l_collection_item
                  .car_img
                    %a{:href => "product-details.html"}
                      = image_tag("product/car-collection/car-1.jpg")
                  .text_body
                    %a{:href => "product-details.html"}
                      %h4 Jaguer M1 Hybrid
                    %h5 $16,000
                    %p
                      Build year:
                      %span 2015
                  .text_footer
                    %a{:href => "#"}
                      %i.icon-engine
                      2500
                    %a{:href => "#"}
                      %i.icon-gear1
                      Manual
                    %a{:href => "#"}
                      %i.icon-oil>
                      20/24
            .owl-item.cloned.active{:style => "width: 380px;"}
              .item
                .l_collection_item
                  .car_img
                    %a{:href => "product-details.html"}
                      = image_tag("product/car-collection/car-2.jpg")
                  .text_body
                    %a{:href => "product-details.html"}
                      %h4 Audi A8 Hybrid
                    %h5 $16,000
                    %p
                      Build year:
                      %span 2015
                  .text_footer
                    %a{:href => "#"}
                      %i.icon-engine
                      2500
                    %a{:href => "#"}
                      %i.icon-gear1
                      Manual
                    %a{:href => "#"}
                      %i.icon-oil>
                      20/24
            .owl-item.cloned{:style => "width: 380px;"}
              .item
                .l_collection_item
                  .car_img
                    %a{:href => "product-details.html"}
                      = image_tag("product/car-collection/car-3.jpg")
                  .text_body
                    %a{:href => "product-details.html"}
                      %h4 Mercedez Benz E
                    %h5 $16,000
                    %p
                      Build year:
                      %span 2015
                  .text_footer
                    %a{:href => "#"}
                      %i.icon-engine
                      2500
                    %a{:href => "#"}
                      %i.icon-gear1
                      Manual
                    %a{:href => "#"}
                      %i.icon-oil>
                      20/24
        .car_arrow.disabled
          -# %button.owl-prev{:role => "presentation", :type => "button"}
          -#   %i.fa.fa-angle-left{"aria-hidden" => "true"}
          -# %button.owl-next{:role => "presentation", :type => "button"}
          -#   %i.fa.fa-angle-right{"aria-hidden" => "true"}
        .owl-dots.disabled