%section.feature_car_area
  .container
    .flag_title.white
      %h2.wow.fadeInUp.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"}
        = image_tag("icon/flag-3.png")
        Sản phẩm nổi bật
    .f_car_slider_inner
      .f_car_slider.owl-carousel.owl-loaded.owl-drag
        .owl-stage-outer
          .owl-stage{:style => "transform: translate3d(-3040px, 0px, 0px); transition: all 1.5s ease 0s; width: 4560px;"}
            - @all_products.each do |product|
              .owl-item.cloned{:style => "width: 380px;"}
                .item
                  .l_collection_item
                    .car_img
                      %a{:href => "/products/#{product&.slug}"}
                        = image_tag(url_for(product.attachments.first&.image), class: "img-fluid")
                    .text_body
                      %a{:href => "/products/#{product&.slug}"}
                        %h4= product.name
                      %h5= "Giá: #{number_to_currency(product.price, precision: 0, unit: '')} VND"
                    .text_footer
                      %a
                        %i.icon-engine
                        2500
                      %a
                        %i.icon-gear1
                        Manual
                      %a
                        %i.icon-oil>
                        20/24
        -# .car_arrow.disabled
        -#   %button.owl-prev{:role => "presentation", :type => "button"}
        -#     %i.fa.fa-angle-left{"aria-hidden" => "true"}
        -#   %button.owl-next{:role => "presentation", :type => "button"}
        -#     %i.fa.fa-angle-right{"aria-hidden" => "true"}
        -# .owl-dots.disabled