%section.latest_blog_area.p_100
  .container
    .flag_center_title.wow.fadeInUp.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;"}
      %h2
        = image_tag("icon/flag-2.png")
        Tin tức
    .row.l_blog_inner
      .col-lg-4.col-sm-6
        .l_blog_item.wow.fadeInDown.animated{"data-wow-delay" => "0.2s", :style => "visibility: visible; animation-delay: 0.2s; animation-name: fadeInDown;"}
          .blog_img
            %a{:href => "#{post_path(Post.first.slug)}"}
              %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/main-blog/blog-1.jpg"}
            %a.cat News
          .blog_content
            .date
              %i.icon-calendar1
              Nov 20, 2021
            %a{:href => "#{post_path(Post.first.slug)}"}
              %h3 Main reasons to buy luxury car in 2021
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed them eiusmod...
      .col-lg-4.col-sm-6
        .l_blog_item.wow.fadeInDown.animated{"data-wow-delay" => "0.4s", :style => "visibility: visible; animation-delay: 0.4s; animation-name: fadeInDown;"}
          .blog_img
            %a{:href => "#{post_path(Post.first.slug)}"}
              %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/main-blog/blog-2.jpg"}
            %a.cat News
          .blog_content
            .date
              %i.icon-calendar1
              Nov 20, 2021
            %a{:href => "#{post_path(Post.first.slug)}"}
              %h3 Main reasons to buy luxury car in 2021
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed them eiusmod...
      .col-lg-4.col-sm-6
        .l_blog_item.wow.fadeInDown.animated{"data-wow-delay" => "0.6s", :style => "visibility: visible; animation-delay: 0.6s; animation-name: fadeInDown;"}
          .blog_img
            %a{:href => "#{post_path(Post.first.slug)}"}
              %img.img-fluid{:alt => "", :src => "https://droitthemes.com/html/motodeal/img/blog/main-blog/blog-3.jpg"}
            %a.cat News
          .blog_content
            .date
              %i.icon-calendar1
              Nov 20, 2021
            %a{:href => "#{post_path(Post.first.slug)}"}
              %h3 Main reasons to buy luxury car in 2021
            %p Lorem ipsum dolor sit amet, consectetur adipisicing elit sed them eiusmod...