!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = render 'layouts/meta'

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'home'

    = javascript_pack_tag 'application'
    = javascript_pack_tag 'home'
    = javascript_pack_tag 'admins' if body_class.include?('admins')
  %body{"data-scroll-animation" => 'true', class: body_class}
    .preloader
      .main-loader
        %span.loader1
        %span.loader2
        %span.loader3
    = render 'layouts/header' unless body_class.include?('admins') || body_class.include?('devise_sessions')
    - if body_class.include?('admins')
      .container
        = render 'admins/shared/nav'
    = yield
    - unless body_class.include?('admins') || body_class.include?('devise_sessions')
      = render 'layouts/news'
      = render 'layouts/facebook_chat'
      = render 'layouts/hotline'
    = render 'layouts/footer' unless body_class.include?('devise_sessions')
  = javascript_pack_tag 'theme-dist', defer: true
