!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %title Toyota Đông Sài Gòn
    %meta{:content => "width=device-width,initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %link{rel:"icon", href:"/assets/favicon.png?v=2", type: "image/png"}
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload'
    = stylesheet_link_tag 'home', 'data-turbolinks-track': 'reload'

    = javascript_pack_tag 'application', media: "all" ,'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'home',media: "all" , 'data-turbolinks-track': 'reload'
  %body{"data-scroll-animation" => 'true'}
    .preloader
      .main-loader
        %span.loader1
        %span.loader2
        %span.loader3
    = render 'layouts/header'
    = render 'layouts/banner'
    = yield
    = render 'layouts/market_place'
    = render 'layouts/service'
    = render 'layouts/feature_cars'
    = render 'layouts/car_model'
    = render 'layouts/client_feedback'
    = render 'layouts/news'
    = render 'layouts/hotline'
    = render 'layouts/facebook_chat'
    = render 'layouts/footer'
  = javascript_pack_tag 'theme-dist'
    