!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %link{rel:"icon", href:"/assets/favicon.png?v=2", type: "image/png"}

    = render 'layouts/meta'

    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'home'

    = javascript_pack_tag 'application'
    = javascript_pack_tag 'home'

  %body{"data-scroll-animation" => 'true', class: body_class}
    .preloader
      .main-loader
        %span.loader1
        %span.loader2
        %span.loader3
    = render 'layouts/header'
    = render 'layouts/banner'
    -# = render 'layouts/search'
    = yield
    = render 'layouts/service'
    = render 'layouts/market_place'
    = render 'layouts/feature_cars'
    = render 'layouts/car_model'
    = render 'layouts/client_feedback'
    = render 'layouts/news'
    = render 'layouts/hotline'
    = render 'layouts/facebook_chat'
    = render 'layouts/footer'
  = javascript_pack_tag 'theme-dist'
